<div class="container">
<p style="color: green"><%= notice %></p>

<div class="">
<h1 class="text-center">ALL POSTS</h1>
</div>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
  
</div>

</div>